
.home{
    width: 100%;
    height: 500px;
    background-color: rgb(203, 208, 206);
    margin-top: 2%;
  }
  
  .home-image{
    width: 100%;
    height: 500px;
  }
  
  .main-home > h1{
    font-family:'Pacifico', cursive;
    text-align: center;
    margin: 1%;
  }
  
  .loader{
    display: flex;
  }

  /* .carousel-indicators {
    display: none;
} */